# Chatwoot - variaveis adicionais que nao vem de .env.production
# Copie pra chatwoot.env e ajuste

SECRET_KEY_BASE=GERAR_COM_openssl_rand_hex_64

# SMTP
MAILER_SENDER_EMAIL=yugochat <no-reply@yugochat.com.br>
SMTP_DOMAIN=yugochat.com.br
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=peer

# Outras
INSTALLATION_NAME=yugochat
ENABLE_ACCOUNT_SIGNUP=false
ENABLE_AUDIT_LOG=true
LOG_LEVEL=info
RACK_TIMEOUT_SERVICE_TIMEOUT=0
